@import url("whitespace-reset.css");

body {
	background-image: url("../images/background-img.jpg")
}

main {
	max-width: 60%;
	margin: 5% auto 0 auto;
	background-color: rgb(97, 77, 83);
	color: #0f0909;
	padding-bottom: 40px;
	border-radius: 10px;
}

.container {
	width: 60%;
	text-align: left;
	margin: 0 0 20px 20px;
}

h1 {
	font: bold 32px Helvetica, sans-serif;
}
.answer {
	margin-bottom: 20px;
	font: normal 18px Helvetica, sans-serif;
}

.answer:hover {
	cursor: pointer;
	background-color: green;
}

.answer::before {
	content: "•";
	margin-right: 5px;
}



/* .container {
	text-align: center;
	margin-bottom: 20px;
} */


/* h1 {
	font: bold 32px Helvetica, sans-serif;
}

button, p {
	font-size: 20px;
}

p:nth-child(1) {
	font: bold 24px Helvetica, sans-serif;
	margin-bottom: 20px;
}

button {
	background-color: orange;
	display: block;
	border: none;
	padding: 5px 10px;
	border-radius: 20px;
	box-shadow: 1 1 2;
	margin: 10px auto 0 auto;
}

button:hover, button:active {
	cursor: pointer;
	background-color: brown;
	border-radius: 20px;
	outline-style: none;

} */


